<div class="row">
  <div class="col-xs-12 col-sm-4">
    <div class="list-group">
      <a
        href="#"
        class="list-group-item"
        *ngFor="let server of servers">
        {{ server.name }}
      </a>
    </div>
  </div>
  <div class="col-xs-12 col-sm-4">
    
    <!--The link below is an relative path. It creates a url as localhost:4200/servers/servers-->
    <a routerLink="servers">servers</a> 
    <a routerLink="servers">./servers</a> 

    <!--The link below is an absolute path. It creates a url as localhost:4200/servers/servers-->
    <a routerLink="/servers">/servers</a> 

    <!--Below navigates to localhost:4200/servers, since it goes back one level-->
    <a routerLink="../servers">../servers</a> 

    <button class="btn-primary" (click)="onReload()" >Reload</button>

    <app-edit-server></app-edit-server>
    <hr>
    <app-server></app-server>
  </div>
</div>

